body{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

.grouped{
    margin: auto;
    max-width: 700px;
    width: 90%;
    text-align: left;
    font-size: larger;
}

.underlined{
    text-decoration: underline;
}

.highlight{
    background-color: orange;
}

.red_color{
    color: red;
    font-weight: bolder;
}

.story{
    margin: 0;

}

.image {
    display: block;
    width: 100%;        
    max-height: 500px;  
    height: auto;       
    margin: auto;
}

.returnPage{
    font-style: oblique;
    font-size:x-large;
    font-weight: bolder;
}